# Ignorar carpetas de dependencias de Composer
/vendor/

# Ignorar archivos de registro (logs)
/logs/*.log

# Ignorar respaldos de bases de datos locales para que no pesen tanto
*.sql

# Ignorar archivos temporales o del sistema operativo
.DS_Store
Thumbs.db